h2 {
  color: green;
  font-family: sans-serif;
}
h3 {
  color:orange;
  font-family: sans-serif;
}
h4 {
  color:blue;
  font-family: sans-serif;
}
h5 {
  color: purple;
  font-family: sans-serif;
}
th {
  color: silver;
  font-weight: bold;
}
table, th, td {
  border: 1px solid black;
}
table, th, td {
  text-align:center;
}
ul{
  list-style-type: square;
}
a:hover {
  color: hotpink;
  text-decoration: none;
}
blockquote {
  background-color:blue;
  color: orange;
}
ul > li:first-child::after{
  content: "";
  background-image:url("Broncos Logo");
}
form > ul {
  list-style-type: none;
}
